<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <!-- <span class="text-warning">YelpCamp 2021</span> -->
        <span class="text-muted">&copy; YelpCamp 2021</span>
    </div>
</footer>