<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <!-- more about offset go here: https://getbootstrap.com/docs/5.1/layout/columns/#offsetting-columns -->
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="location">Location:</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                </div>

                <!-- <div class="mb-3">
                    <label class="form-label" for="imageUrl">Image Url:</label>
                    <input class="form-control" type="text" id="imageUrl" name="campground[image]" required>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                </div> -->

                <div class="mb-3">
                    <label for="price" class="form-label">Campground Price:</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" id="price" class="form-control" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks good
                        </div>
                    </div>
                </div>

                <div class="mb-3 form-floating">
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                    <label class="form-label" for="description">Description</label>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                </div>

                <div class="input-group mb-3 bs-custom-file input">
                    <input type="file" name="image" multiple class="form-control" id="image">
                    <label class="input-group-text" for="image">Upload Image</label>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>

            </form>
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>